<!-- views/partials/footer.ejs -->
<div id="footer">
  <p class="text-muted"><a href="http://www.saifsm.com">Meet the Developer</a>
<!--   © Copyright 2099 A Fake Footer -->
</p>
</div>


<!-- Place this tag where you want the button to render. -->
<button class="github-button  mediaButtonPosition" href="https://github.com/saifsm1994/VotingAppFccProjectSSM/" aria-label="Watch saifsm1994/VotingAppFccProjectSSM on GitHub">
  <div class="" style="    display: flex; justify-content: center; align-items: center;">
  <img src="https://cdn.glitch.com/6397d020-9c80-41a3-bbe0-6fb893c97f26%2FGitHub-Mark-32px.png?1528436017445" style="height:100%;">
    <span>See on Github</span>
    
  </div>
  </button>
  
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
