<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a a href="/" class="navbar-brand" style="background-color:lightgrey" href="#">
<!--             <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> -->
            Voting App
        </a>

        <ul class="nav navbar-nav mr-auto">
            <li><a href="/">Home</a></li>
            <li><a href="/login.ejs">Login</a></li>
            <li><a href="/createUser.ejs">Register</a></li>
          <li><a href="/allPolls">All Polls</a></li>

<!--             <li><a href="/">About</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about">About</a></li> -->
        </ul>
    </div>

</div>
</nav>


