<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a a href="/" class="navbar-brand" href="#">
<!--             <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> -->
            Voting App
        </a>

        <ul class="nav navbar-nav mr-auto" >
            <li><a href="/">Home</a></li>
          <li><a href="/createPoll.ejs">Create A Poll</a></li>
          <li><a href="/myPolls">myPolls</a></li>        
          <li><a href="/allPolls">All Polls</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

</div>
</nav>


