<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
  <% if(!locals.user){ %>
     <% include ../views/partials/header  %>
  <%  %>
  <% }else{ %>
     <% include ../views/partials/logHeader  %>
  <% } %>
</header>
  
<main>
    <div class="jumbotron">
      <form action="/logInAuth" method="POST">
  <input type="text" name="username"  placeholder="username">  
  <input type="password" name="password"  placeholder="password">  
          <button>
            submit
          </button>
        </form>
      
  </div>
</main>

<footer>
    <% include ../views/partials/footer %>
</footer>

</body>
</html>