/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}

.liWhole{
	background-color: aliceblue;
	border: solid black 2px; 
	height: 60px;
	cursor: pointer;
	width: 80%;
	margin-left:10%;
	margin-top:10px; 
	display: table;
  overflow:auto;

}
.aNumber{
	color: white;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
/* 	margin-left: 5%; */
/*	border: solid red 1px;*/
	height: 60%; width: 10%;
/* 	margin-top:20%; */
	display: table-cell


}
.liTitle{
  color: black;
  vertical-align: middle;
  text-align: center;
/*   margin-left: 5%;  */
  border: solid black 1px; 
  height: 60%; width: 70%;
/*   margin-top:20%; */
  display: table-cell

}

#footer {
  position:relative;
/*   bottom:0;
  left: 0; */
  padding-top:25vh;
  width:100%;
  height:60px;   /* Height of the footer */
}


.mediaButtonPosition{
    position:absolute;
    bottom: 0;
    right: 0;
    margin-bottom:5%;  
    margin-right:5%;
}
